nodeflow.json
[{"id":"d443c86d.2bbc38","type":"tab","label":"Flow 1"},{"id":"942ef19a.b0448","type":"serial in","z":"d443c86d.2bbc38","name":"ARDUINO","serial":"b31dd646.4a3fc8","x":279.5,"y":397,"wires":[["4f36c93b.f000a8"]]},{"id":"4f36c93b.f000a8","type":"function","z":"d443c86d.2bbc38","name":"ToString","func":"var newMsg = {payload: msg.payload.toString()};\nreturn newMsg;","outputs":1,"noerr":0,"x":480.5,"y":397,"wires":[["a9383f39.01489","897352bd.0ae6f8"]]},{"id":"a9383f39.01489","type":"function","z":"d443c86d.2bbc38","name":"Split yo","func":"var output = msg.payload.split(\" \");\n \nvar temp = parseInt(output[0]);\nvar humid = parseInt(output[1]);\nvar airq = parseInt(output[2]);\n\nvar msg1 = {payload:temp};\nvar msg2 = {payload:humid};\nvar msg3 = {payload:airq};\n\nreturn [msg1,msg2,msg3];\n","outputs":"3","noerr":0,"x":714.5,"y":433,"wires":[["f64f3709.0d4e28","c0b60747.0e951"],["736e6c4a.0b764c","c86e6f37.c0fac"],["3217c575.b6069a","fc086e28.e8534"]]},{"id":"f64f3709.0d4e28","type":"ui_gauge","z":"d443c86d.2bbc38","name":"","group":"c4b87aaa.c26d6","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity Right Now","label":"percentage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1052.5,"y":282,"wires":[]},{"id":"736e6c4a.0b764c","type":"ui_gauge","z":"d443c86d.2bbc38","name":"","group":"7e2a02b5.82238c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature Right Now","label":"Celsius","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1078.5,"y":419,"wires":[]},{"id":"3217c575.b6069a","type":"ui_gauge","z":"d443c86d.2bbc38","name":"","group":"a49dfcec.82683","order":2,"width":0,"height":0,"gtype":"gage","title":"Air Quality","label":"ug/m3","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1029.5,"y":582,"wires":[]},{"id":"c0b60747.0e951","type":"ui_chart","z":"d443c86d.2bbc38","name":"","group":"c4b87aaa.c26d6","order":2,"width":0,"height":0,"label":"Humidity for the last hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1063.5,"y":329,"wires":[[],[]]},{"id":"c86e6f37.c0fac","type":"ui_chart","z":"d443c86d.2bbc38","name":"","group":"7e2a02b5.82238c","order":0,"width":0,"height":0,"label":"Temperature for the last hour","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1086.5,"y":466,"wires":[[],[]]},{"id":"fc086e28.e8534","type":"ui_chart","z":"d443c86d.2bbc38","name":"","group":"a49dfcec.82683","order":0,"width":0,"height":0,"label":"Air Quality for the last hour","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"700","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1078.5,"y":626,"wires":[[],[]]},{"id":"897352bd.0ae6f8","type":"function","z":"d443c86d.2bbc38","name":"Tweet data","func":"var output = msg.payload.split(\" \");\n \nvar temp = output[0];\nvar humid = output[1];\nvar airq = output[2];\n\n\nvar msg1 = {payload:\"Current Humidity : \" + temp +\". Temperature : \"+humid+\". Air quality index : \"+airq +\".\"};\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":553.5,"y":615,"wires":[["aae6e9d.d4d8098","bc7f28ea.66bbf8"]]},{"id":"aae6e9d.d4d8098","type":"debug","z":"d443c86d.2bbc38","name":"","active":true,"console":"false","complete":"payload","x":730,"y":520,"wires":[]},{"id":"7561447f.48308c","type":"twitter out","z":"d443c86d.2bbc38","twitter":"","name":"Tweet","x":772.5,"y":596,"wires":[]},{"id":"bc7f28ea.66bbf8","type":"delay","z":"d443c86d.2bbc38","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":739.5,"y":697,"wires":[["7561447f.48308c"]]},{"id":"b31dd646.4a3fc8","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"c4b87aaa.c26d6","type":"ui_group","z":"","name":"Humidity","tab":"db9dc257.5da94","order":2,"disp":false,"width":"6"},{"id":"7e2a02b5.82238c","type":"ui_group","z":"","name":"Temperature","tab":"db9dc257.5da94","disp":false,"width":"6"},{"id":"a49dfcec.82683","type":"ui_group","z":"","name":"Air Quality","tab":"db9dc257.5da94","order":3,"disp":false,"width":"6"},{"id":"db9dc257.5da94","type":"ui_tab","z":"","name":"Sensors","icon":"dashboard","order":3}]
